html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ーーーーーーーーーーーーーーー */
/* 左余白を完全に消すための必須設定 */
/* ーーーーーーーーーーーーーーー */
html,
body {
    width: 100%;
    overflow-x: hidden;
}

.auth-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: none !important;
}

.auth-content {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}

/* ーーーーーーーーーーーーーーー */
/* Header */
/* ーーーーーーーーーーーーーーー */
.header {
    width: 100%;
    height: 82px;
    background-color: black;
    margin: 0;
    position: relative;
}

.header_img {
    position: absolute;
    width: 370px;
    height: 36px;
    top: 22px;
    left: 25px;
}

/* PC 1400〜1540px */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .header {
        height: 90px;
    }

    .header_img {
        width: 400px;
        height: 40px;
        top: 25px;
        left: 30px;
    }
}

/* Tablet 768〜850px */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .header {
        height: 70px;
    }

    .header_img {
        width: 280px;
        height: 28px;
        top: 20px;
        left: 20px;
    }
}