.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 90%;
    max-width: 1017px;
    margin: 60px auto;
    padding: 20px 0;
    box-sizing: border-box;
    height: auto;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #D9D9D9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.profile-name {
    width: 250px;
    height: 65px;
    font-size: 36px;
    font-weight: 700;
    margin-left: 20px;
}

.edit-button {
    margin-left: auto;
    margin-top: 10px;
    padding: 0;
    color: #FF5555;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: backdground-color 0.3s ease;
    box-sizing: border-box;
    width: 310px;
    height: 59px;
    line-height: 59px;
    font-size: 26px;
    font-style: bold;
}

.edit-button {
    border: 2px solid #FF5555;
}

.edit-button:hover {
    background-color: #fff;
}

.item-toggle {
    display: flex;
    gap: 30px;
    width: 100%;
    height: 47px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ddd;
    padding: 10px 50px;
}

.tab {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0;
}
.tab.active {
    color: #FF5555;
}
.item-image {
    width: 290px;
    height: 290px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 20px;
    box-sizing: border-box;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: start;
    gap: 20px;
    margin-bottom: 20px;
}

.item-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}

.item-card.sold {
    pointer-events: none;
}

a {
    text-decoration: none;
    color: #000;
}

.item-name {
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
    color: #000000;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 1.2;
    text-align: left;
}
.item-title {
    margin-bottom: 60px;
}


.rating-stars {
    display: flex;
    gap: 4px;
    margin-top: 4px;
}

.star {
    font-size: 40px;
    color: #D9D9D9;
}

.star.filled {
    color: #FFF048;

}
.unread-total-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 26px;
    background-color: #FF0000;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 8px;
    line-height: 1;
}

.unread-badge {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 700;
    font-weight: bold;
    border-radius: 50%;
    padding: 3px 6px;
    z-index: 10;
}
@media screen and (min-width: 1400px) and (max-width: 1540px) {

    .item-list {
        max-width: 1400px;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
    }

    .profile-header {
        max-width: 1300px;
    }
}

@media screen and (max-width: 850px) {

    .profile-header {
        flex-direction: column;
        text-align: center;
    }

    .profile-info {
        align-items: center;
    }

    .edit-button {
        margin-left: 0;
    }

    .item-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
